<div class="bg-white">
    <main class="my-8">
        <div class="container mx-auto px-6">

            <div class="text-lg font-semibold font-medium">
                <h3>Productos Destacados</h3>
            </div>

            <div class="flex items-center justify-center w-full h-full py-24 sm:py-8 px-4">
                <div class="w-full relative flex items-center justify-center">
                    <button aria-label="slide backward" class="absolute z-30 left-0 ml-8 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 cursor-pointer" (click)="goPrev()">
                    <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7 1L1 7L7 13" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </button>
                    <div class="w-full h-full mx-auto overflow-x-hidden overflow-y-hidden">

                        <div id="slider" class="h-full flex lg:gap-8 md:gap-6 gap-14 items-center justify-start transition ease-out duration-700">
                            <div class="flex flex-shrink-0 relative w-full sm:w-auto" *ngFor="let prod of productosCarrito">
                                <img src="/assets/img/{{prod.imagen}}" alt="black chair and white table" class="object-cover object-center w-full" style="width: 350px; height: 550px;" />
                                <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                                    <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white">{{prod.nombre}}</h2>
                                    <div class="flex h-full items-end pb-6">
                                        <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white">$ {{prod.precio}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button aria-label="slide forward" class="absolute z-30 right-0 mr-8 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400" (click)="goNext()">
                    <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1L7 7L1 13" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </button>
                </div>
            </div>

            <div class="mt-16">
                <h3 class="text-gray-600 text-2xl font-medium">Celulares</h3>
                <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6">

                    <div *ngFor="let producto of productos; index as i" class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
                        <div class="flex items-end justify-end h-56 w-full bg-cover" style="background-image: url(./assets/img/{{producto.imagen}});">
                            <button (click)="addProducto(producto, 1)" class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                    <path
                                        d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                        <div class="px-5 py-3">
                            <h3 class="text-gray-700 uppercase">{{ producto.nombre }}</h3>
                            <span class="text-gray-500 mt-2">{{ producto.precio | currency }}</span>
                        </div>

                        <detalle-root [producto]="producto"></detalle-root>

                    </div>

                </div>
            </div>

        </div>
    </main>
</div>
