<div class="w-full md:w-auto shadow p-5 rounded-lg bg-white">
  <div class="flex items-center justify-between mt-4">
    <p class="font-medium">
      Filtros
    </p>

    <button (click)="resetearFiltro()" class="px-4 py-2 bg-gray-100 hover:bg-gray-200 text-gray-800 text-sm font-medium rounded-md">
      Resetear Filtros
    </button>
  </div>

  <div>
    <div class="grid grid-cols-1 md:grid-cols-3 xl:grid-cols-1 gap-2 mt-3">
      <p class="font-medium text-xs">
        Color
      </p>
      <select (change)="cambiarFiltro('Color', $any($event.target).value)" [ngModel]="(filtros | async)?.color" class="px-4 py-3 w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 text-sm">
        <option [value]="color" *ngFor="let color of colores">
          {{color}}
        </option>
      </select>

      <p class="font-medium text-xs">
        Marca
      </p>
      <select (change)="cambiarFiltro('Marca', $any($event.target).value)" [ngModel]="(filtros | async)?.marca" class="px-4 py-3 w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 text-sm">
        <option [value]="marca" *ngFor="let marca of marcas">
          {{marca}}
        </option>
      </select>

      <p class="font-medium text-xs">
        Bateria
      </p>
      <select (change)="cambiarFiltro('Bateria', $any($event.target).value)" [ngModel]="(filtros | async)?.bateria" class="px-4 py-3 w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 text-sm">
        <option [value]="bateria" *ngFor="let bateria of baterias">
          {{bateria}}
        </option>
      </select>

      <p class="font-medium text-xs">
        Almacenamiento
      </p>
      <select (change)="cambiarFiltro('Almacenamiento', $any($event.target).value)" [ngModel]="(filtros | async)?.almacenamiento" class="px-4 py-3 w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 text-sm">
        <option [value]="almacenamiento" *ngFor="let almacenamiento of almacenamientos">
          {{almacenamiento}}
        </option>
      </select>
    </div>
  </div>
</div>
